.home {
  background-image: url("../../Images/giphy\ \(10\).gif");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.home h1 {
  font-size: 3rem;
  color: #faf9f6;
  padding-top: 80px;
  letter-spacing: 10px;
}
.letters h2 {
  color: #faf9f6;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 30px;
}

.navv {
  width: 17%;
  margin-top: 20px;
}
.cursor {
  cursor: pointer;
}

.homeCenter {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.crowd {
  padding-top: 130px;
}
