/* h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e1e1e;
} */


.bgcolors {
    background-color: #755454;

}


.services p::after {
    content: "";
    position: absolute;
    background-color: #0078ff;
    width: 40px;
    height: 4px;
    bottom: -25px;
    left: 49%;
}


.myicon {
    border: 7px solid #e6d49e;
    border-radius: 50%;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    transition: all 0.4s;
}


.myicon:hover {
    background-color: #e6d49e;
    border-color: #755454;
    color: #1e1e1e;

}


.number {

    background-size: cover;
    background-position: center center;
}


.hoverMe:hover+.vibratingDiv {
    animation: vibrate 0.9s infinite;
}

@keyframes vibrate {
    0% {
        transform: translateY(0px);
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(2px);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0px);
    }
}