@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.clients {
  /* background-image: url("../../Images/clients.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #d1d1d1;
  height: fit-content;
  font-family: "Work Sans", sans-serif;
  padding-bottom: 130px;
  padding-top: 40px;
}

.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.amzaing {
  padding-top: 80px;
  font-size: 3.5rem;
  font-weight: 550;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: rgb(54, 53, 53);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
.years {
  font-size: 11.5px;
  color: #757576;
  letter-spacing: 8px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  padding-left: 9.8px;
}
